# Ignore Unreal Engine Binaries, Derived Data, Intermediate Files, and Saved Files
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio Code and Visual Studio
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Compiled Object Files, Precompiled Headers, and Libraries
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Builds and PakBlacklist Files
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Built Data for Maps
*_BuiltData.uasset

# Ignore Intermediate Files for Plugins
Plugins/**/Intermediate/*
